@font-face {
    font-family: 'NotoSansLepcha';
    src: url('res/font/NotoSansLepcha-Regular.ttf') format('ttf'),
        url('res/font/NotoSansLepcha-Regular.woff2') format('woff2'),
        url('res/font/NotoSansLepcha-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #EEEEEE;
}

.horizontal {
    vertical-align: middle;
    display: inline-block;
}

.text {
    font-family: 'NotoSansLepcha';
}

.regular {
    font-size: 15pt;
}

.big {
    font-size: 30pt;
}

.paddingLeft {
    padding-left: 0.1cm;
}

.verticalAlign {
    vertical-align: top;
    margin-top: 1cm;
}

.center {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
    display: flex;
    justify-content: center;
}