@font-face {
    font-family: 'Share-Tech-Mono';
    src: url('res/font/ShareTechMono-Regular.ttf') format('ttf'),
        url('res/font/ShareTechMono-Regular.woff2') format('woff2'),
        url('res/font/ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.horizontal {
    display: inline-block;
}

.text {
    font-family: 'Share-Tech-Mono';
}

.title {
    font-size: 20pt;
}

.value {
    font-size: 40pt;
}

.caption {
    font-size: 15pt;
    padding-left: 1cm;
    padding-top: 0.5cm;
}

.paddingBottom {
    padding-bottom: 0.5cm;
}

.center {
    padding: 20px;
}

.border {
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    stroke-linecap: butt;
    stroke-dasharray: 0;
}